body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#calculator{
    background-color: black;
    color: white;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#display{
    margin: 15px auto;
}

.row{
    margin: 0 auto;
    background-color: grey;
    padding: 10px;
    height: 50px;
    margin-bottom: 8px;
}

button{
    height: 50px;
    width: 60px;
}

